<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Deshabilitar listado de directorios -->
        <directoryBrowse enabled="false" />
        
        <!-- Configuración de seguridad -->
        <security>
            <requestFiltering>
                <!-- Bloquear archivos sensibles -->
                <hiddenSegments>
                    <add segment="assets" />
                    <add segment="css" />
                    <add segment="js" />
                    <add segment="docs" />
                    <add segment=".git" />
                    <add segment="node_modules" />
                </hiddenSegments>
                
                <!-- Bloquear extensiones de archivo -->
                <fileExtensions>
                    <add fileExtension=".htaccess" allowed="false" />
                    <add fileExtension=".log" allowed="false" />
                    <add fileExtension=".ini" allowed="false" />
                    <add fileExtension=".conf" allowed="false" />
                    <add fileExtension=".db" allowed="false" />
                    <add fileExtension=".sqlite" allowed="false" />
                    <add fileExtension=".bak" allowed="false" />
                    <add fileExtension=".backup" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
        
        <!-- Configuración de compresión -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        
        <!-- Configuración de caché -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
        
        <!-- Páginas de error personalizadas -->
        <httpErrors errorMode="Custom">
            <remove statusCode="403" />
            <error statusCode="403" path="/error/403.html" responseMode="ExecuteURL" />
            <remove statusCode="404" />
            <error statusCode="404" path="/error/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
